<div id="movie" >
	<%= link_to (image_tag movie.image, id:"pic"), movie %>
	<div id="main_title"><%= link_to movie.title, movie_path(movie), id: "title" %></div>

	<%= link_to like_movie_path(movie), method: :put do %>
	<button>
		<%= movie.get_upvotes.size %>
	</button>
	<% end %>
	<%= link_to unlike_movie_path(movie), method: :put do %>
	<button>
		<%= movie.get_downvotes.size %>
	</button>
	<% end %>
</div>