<h1><%= @movie.title %></h1>
<%= link_to 'Змінити', edit_movie_path(@movie) %>


<p><%= @movie.description %></p>

<hr>
<h2>Всі обговорення</h2>
<% @movie.impressions.each do |impression| %>
<div>
	<p> <%= impression.body %></p>
</div>
<% end %>
<hr>
<h2>Обговорення фільму</h2>
<%= form_for([@movie, @movie.impressions.build]) do |f| %>
	<p>
		Ваша думка про фільм<br>
		<%= f.text_area(:body) %>
	</p>

	<p>
		<%= f.submit("Додати") %>
	</p>
<% end %>