<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
  <div id="main_tit">
  	<h1 id="tit"><%= @movie.title %></h1>
  </div>
  <div id="main_divy">
   <div id="top-info">
     <div id="mov" >
	  <%= image_tag @movie.image, id:"pic" if @movie.image? %>
     </div>
  	 <div id="mov-info">
	  <div id="text"><p><%= t "body.genre"%> <%= @movie.genre%></p></div>
	  <div id="text2"><p><%= t "body.country"%> <%= @movie.nation%></p></div>
	  <div id="text"><p><%= t "body.year"%> <%= @movie.year%></p></div>
	  <div id="text2"><p><%= t "body.director"%> <%= @movie.director%></p></div>
	  <div id="text"><p><%= t "body.actors"%> <%= @movie.actors%></p></div>
	 </div>
   </div>
    <div id="desc">
      <h1><%= t "body.description"%></h1>
	  <p><%= @movie.description %></p>
    </div>
    <h1><%= t "body.galery"%></h1>
	<div id="list"
	<% if @movie.movie_gallery? %>
  		<ul>

    	<% @movie.movie_gallery.each do |img| %>
      		<div id="photo">
      		<%= link_to(image_tag(img.url, alt: 'Image',id: "pic"), img.url, target: '_blank',data: {lightbox: "img.url"})%>
      		</div>
    	<% end %>
  		</ul>
	<% end %>
	</div>
<hr>
<h2><%= t "body.discussions"%></h2>
<% @movie.impressions.each do |impression| %>
<div>
	<p> <%= impression.body %></p>
</div>
<% end %>
<hr>
<h2><%= t "body.opinion"%></h2>
<%= form_for([@movie, @movie.impressions.build]) do |f| %>
	<p>
		<%= t "body.ur_opinion"%><br>
		<%= f.text_area(:body) %>
	</p>

	<p>
		<%= f.submit t "body.add" %>
	</p>
<% end %>
</div>