<%= stylesheet_link_tag 'application', media: 'all' %>
<h1><%= @movie.title %></h1>
<%= image_tag @movie.image if @movie.image? %>
<p><%= @movie.genre%></p>
<p><%= @movie.description %></p>
<hr>
<h2><%= t "body.discussions"%></h2>
<% @movie.impressions.each do |impression| %>
<div>
	<p> <%= impression.body %></p>
</div>
<% end %>
<hr>
<h2><%= t "body.opinion"%></h2>
<%= form_for([@movie, @movie.impressions.build]) do |f| %>
	<p>
		<%= t "body.ur_opinion"%><br>
		<%= f.text_area(:body) %>
	</p>

	<p>
		<%= f.submit t "body.add" %>
	</p>
<% end %>