<%= stylesheet_link_tag 'application', media: 'all' %>
<h1 ><%= @movie.title %></h1>
<%= image_tag @movie.image if @movie.image? %>
<p>Жанр: <%= @movie.genre%></p>
<p> <%= @movie.nation %></p>
<p> <%= @movie.year %></p>
<p> <%= @movie.actors %></p>
<p><%= @movie.director %></p>
<p><%= @movie.description %></p>

<% if @movie.movie_gallery? %>
  <ul>
    <% @movie.movie_gallery.each do |img| %>
      <%= link_to(image_tag(img.url, alt: 'Image'), img.url, target: '_blank') %>
    <% end %>
  </ul>
<% end %>
<hr>
<h2><%= t "body.discussions"%></h2>
<% @movie.impressions.each do |impression| %>
<div>
	<p> <%= impression.body %></p>
</div>
<% end %>
<hr>
<h2><%= t "body.opinion"%></h2>
<%= form_for([@movie, @movie.impressions.build]) do |f| %>
	<p>
		<%= t "body.ur_opinion"%><br>
		<%= f.text_area(:body) %>
	</p>

	<p>
		<%= f.submit t "body.add" %>
	</p>
<% end %>