<nav class="navbar navbar-expand-sm bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="#">
   <div class ="row">
    <ul class="navbar-nav ml-auto ">
       <%= link_to movies_path, class: "nav-link " do%>
        <i class="fas nav-link active-primary fa-sign-in-alt ">All movies</i> 
      <% end %>
      
      <%= link_to new_movie_path,class: "nav-link" do %>
       <% if user_signed_in? %>
          <i class="fas nav-link active fa-user">Add new movie</i> 
        <% end %>
        </div>
        <% if user_signed_in? %>
        <%= link_to destroy_user_session_path,class: "nav-link" , method: :delete do %>
          <i class="btn btn-outline-primary text-light">Log Out</i> 
        <% end %>
     </a>
      <% else %>  

      <%= link_to new_user_session_path, class: "nav-link" do %>
      <i class="btn btn-outline-primary">Log In</i>
      <%  end %>
      <%= link_to new_user_registration_path, class: "nav-link" do%>
      <i class="btn btn-outline-primary">Sign Up</i>
      <%  end %>
      <%  end %>

<% end %>
    </ul>
</nav>
