<nav class="navbar navbar-expand-sm navbar-expand-sm " id="nav">

  <ul class="navbar-nav mr-auto">
    <%= link_to movies_path, class: "nav-link " do%>
      <i  class="fas nav-link active-primary fa-sign-in-alt "><%= image_tag 'pop.png', id:"png" %><i id="i"><%= t "header.main"%></i></i> 
    <% end %>
  </ul>
  <i id="i"><%= link_to_unless_current "EN" , locale: "en"%></i>|<i id="i"><%= link_to_unless_current "UA" , locale: "ua"%></i>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, class: "nav-link " , method: :delete do %>
      <i  class="btn btn-outline-primary text-light">
      <%= show_svg('logout.svg') %><%= t "header.logout"%></i> 
    <% end %>
  <% else %>  
    <%= link_to new_user_session_path, class: "nav-link " do %>
      <i class="btn btn-outline-primary">
      <%= show_svg('users.svg') %><%= t "header.login"%></i>
    <%  end %>
      <%= link_to new_user_registration_path, class: "nav-link" do%>
        <i class="btn btn-outline-primary">
        <%= show_svg('user.svg') %><%= t "header.signup"%></i>
      <%  end %>
  <%  end %>
  
</nav>
