<!DOCTYPE html>
<html>
  <head>
    <title>DiscussionOfMovies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= link_to 'Всі фільми', movies_path %>
  	  	<%= link_to 'Додати новий фільм', new_movie_path %>

    <%= yield %>
  </body>
</html>
