<!DOCTYPE html>
<html id="html">
  <head>
    <title><%= t "body.main"%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
  	<%= render 'layouts/header' %>
    <%= yield %>
    
  </body>
<div id="footer"><%= render 'layouts/footer' %></div>
</html>
